<ion-header>
  <!-- Barra de herramientas con el botón de flecha hacia atrás -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="!isDirector && showBackButton" [ngClass]="{'hidden': !showBackButton}"
        defaultHref="/"></ion-back-button>
      <ion-button *ngIf="isDirector" (click)="navigateToUserProfile()">
        <ion-icon name="person-circle-outline" size="large" class="user-icon"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="12">
        <ion-title class="ion-text-center"> Asociación Musical San Roque </ion-title>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center" (click)="navigateToRoot()">
      <ion-col size="auto">
        <ion-img src="{{ imageUrl }}" alt="Logo"></ion-img>
      </ion-col>
    </ion-row>

    <ion-buttons slot="end">
      <ion-button (click)="logout()" [disabled]="!showExitButton">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
