<app-header [showBackButton]="true"></app-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <!-- Para pantallas grandes (size="3") -->
    <ion-col size-lg="3" class="ion-hide-xsm-down">
      <ion-card class="custom-card">
        <ion-card-content class="ion-text-center">
          <ion-img src="../../assets/trompeta.png" alt="Trompeta" class="custom-img"></ion-img>
          <ion-card-title class="ion-margin-top">Trompeta</ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-content>
