<app-header [showBackButton]="false" [showExitButton]="true"></app-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ng-container *ngFor="let instrumento of instrumentos">
      <ion-col
        size-lg="3"
        size-md="4"
        size-sm="6"
        size="12"
        class="ion-hide-xsm-down"
        *ngIf="instrumento.avaliable"
      >
        <ion-card class="custom-card">
          <ion-button (click)="onClick(instrumento.instrument)">
            <ion-card-content class="ion-text-center">
              <ion-img
                src="../../assets/{{instrumento.instrument.toLowerCase().replace(' ', '_')}}.png"
                alt="{{instrumento}}"
              ></ion-img>
              <ion-card-title class="ion-margin-top"
                >{{instrumento.instrument}}</ion-card-title
              >
            </ion-card-content>
          </ion-button>
        </ion-card>
      </ion-col>
    </ng-container>
  </ion-row>
</ion-content>
