.custom-card {
  background-color: #c6c6e0;
  box-shadow: 0 4px 8px #8f7303;
  ion-button {
    --ion-box-shadow: none;
    --box-shadow: none;
  }
}

.custom-card ion-card-title {
  color: rgb(0, 0, 26);
}

.custom-img {
  max-width: 100%;
  max-height: 290px;
  /* Agrega otros estilos de imagen según sea necesario */
}

ion-content {
  --background: rgb(0, 0, 26) url("../../assets/lira.jpg") no-repeat center
    center fixed;
  background-size: cover;
}
